{% extends "app/layouts/base_form.html" %}

{% block head_title %}
- Update article
{% endblock head_title %}

{% block article_stats %}
  <p class="text-center">{{ article.word_count }} word{{ article.word_count | pluralize }}</p>
  <p>Last edited on <span class="font-bold">{{ article.updated_at | date:"jS F Y" }}</span></p>
{% endblock article_stats %}

{% block buttons %}
  <div class="flex justify-end gap-4">
    <a hx-get="{% url 'delete_article' article.id %}" class="button danger" hx-target="#dialog" hx-select="main">Delete article</a>
    <button type="submit" class="button primary">Save</button>
  </div>
{% endblock buttons  %}

{% block extra_body %}
<div id="modal" class="relative z-10 hidden">
  <div class="bg-black/15 fixed inset-0"></div>
  <div class="fixed inset-0 z-10 w-screen p-4">
    <div id="dialog" class="max-w-lg mx-auto bg-white p-16 rounded-md shadow-lg"></div>
  </div>
</div>
{% endblock extra_body %}

{% block page_js %}
{{ block.super }}

<script type="application/javascript">
const modal = document.getElementById("modal");

htmx.on("htmx:afterSwap", function(e) {
  if (e.detail.target.id == "dialog") {
    modal.classList.toggle("hidden");
  }
})
</script>
{% endblock page_js %}