{% extends "app/layouts/base_form.html" %}

{% block article_stats %}
    <p class="text-center">Article with {{ article.word_count }} word{{ article.word_count | pluralize }}</p>
    <p>Last updated at <span class="font-bold">{{ article.updated_at | date:"jS F Y" }}</span></p>
{% endblock article_stats %}

{% block buttons %}   
    <div class="flex justify-end gap-4">
        <a href="{% url 'delete_article' article.id %}" class="button danger">Delete article<a>
        <button type="submit" class=" button primary">Save</button>
    </div>
{% endblock buttons %}