{% extends "app/base.html" %}

{% block content %}
<main class="max-w-7xl mx-auto flex flex-col items-center mt-10 p-2 md:p-4 lg:p-10">
    <h1 class="subtitle mb-2">Delete Article</h1>
    <p class="text-lg mb-6">Are you sure you want to delete "{{ article.title }}?"</p>
    <form method="post" class="flex items-center gap-4" style="margin-top: 1rem;">
        {% csrf_token %}
        <button class="button danger" type="submit">Yes, delete it</button>
        <a href="{% url 'home' %}" class="button secondary">{% include "svgs/left-arrow.svg" with class="inline-block w-6 h-6 mt-[-2px]" %}No, take me back<a>
    </form>
</main>
{% endblock content %}