{% extends "app/base.html" %}

{% block content %}
    <h1>Create Article</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'home' %}">Back to list<a>
{% endblock content %}

{% block page_js %}
<script>
    const contentMarkdown = new EasyMDE({
        element: document.getElementById('id_content'),
        spellChecker: false,
        status: false,
        toolbar: false,
        forceSync: true,
    });
</script>
{% endblock page_js %}