{% extends "base.html" %}
{% load humanize %}

{% block head_title %}– Your articles{% endblock head_title %}

{% block base_content %}
<main class="max-w-7xl mx-auto mt-10 p-2 md:p-4 lg:p-10">
    <h1 class="title mb-4">Welcome</h1>
    <p class="text-xl mb-4">
        You have created {{ user.article_count | intcomma }} 
        article{{ user.article_count | pluralize}} and written
        {{ user.written_words | intcomma }} 
        word{{user.written_words | pluralize}}.
    </p>
    
   
    <a class="button primary inline-block mb-6 w-full sm:w-auto text-center" href="{% url 'create_article' %}">Start new article<a>
    <h2 class="subtitle mb-6">Your latest articles</h2>


    <form method="get" class="flex flex-col sm:flex-row gap-3 mb-8">
        <input type="search" name="search" placeholder="Search articles" value="{{ request.GET.search }}" 
            class="text-black shadow-sm focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm border-gray-300 rounded-md h-10 px-4"
            hx-get="{{ request.path }}"
            hx-trigger="keyup changed delay:500ms, search"
            hx-target="#articles-results"
            hx-select="#articles-results"
            hx-indicator="svg.loading"
            hx-disabled-eld="next button"
            >
        <div class="flex gap-3">
            <button type="submit" class="flex gap-1 button secondary items-center justify-center h-10 [&>.loading.htmx-request.hidden]:!inline-block [&>.loading.htmx-request]:hidden disabled:cursor-not-allowed disabled:opacity-50">
                {% include "svgs/magnifying-glass.svg" with class="loading w-6 h-6 mr-2" %}
                {% include "svgs/loading.svg" with class="loading w-6 h-6 mr-2 hidden motion-safe:animate-spin" %}
                Search
            </button>
            <a href="{{ request.path }}" class="button secondary text-center h-10 flex items-center justify-center">Clear search</a>
        </div>
    </form>

    <div id="articles-results">
        {% if articles %}
            <ul preload="mouseover">
            {% for article in articles %}
                <li>
                    <a
                    class="text-2xl flex items-center" 
                    href="{% url 'update_article' article.id %}">
                    {{ article.title }}
                    <span class="ml-2 px-4 py-0.5 text-xs rounded-sm uppercase article-status-{{ article.status }}">{{ article.status }}</span>
                    </a>
                    <p class="text-sm"> {{ article.word_count}} word{{ article.word_count | pluralize }} </p>
                </li>
            {% endfor %}
            </ul>
            {% if is_paginated %}
                <div class="flex items-center justify-center mt-4 text-xl">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" class="mx-2 flex items-center justify-center">
                            <span class="flex transform rotate-180 w-8 h-8 border border-gray-300 rounded-md items-center justify-center p-1">{% include "svgs/chevron.svg" with class="w-5 h-5" %}</span>
                        </a>
                    {% endif %}

                    <span> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" class="mx-2 flex items-center justify-center">
                            <span class="w-8 h-8 border border-gray-300 rounded-md flex items-center justify-center p-1">{% include "svgs/chevron.svg" with class="w-5 h-5" %}</span>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <p>There is no articles yet</p>
        {% endif %}
    </div>
</main>
{% endblock base_content %}