{% extends "app/base.html" %}

{% load widget_tweaks %}
{% load allauth account %}

{% block content %}

<main class="max-w-2xl mx-auto mt-10 p-2 md:p-4 lg:p-10">
    <div class="flex flex-col bg-gray-800 text-white p-6 lg:p-16 rounded-md">
        <div class="flex flex-col text-center">
            <h1 class="text-xl md:2xl lg:3xl font-semibold">Sign in into your account</h1>
            <p class="text-sm mt-1"> Or <a class="font-bold hover:underline " href="{{ signup_url }}">sign up instead</a>?</p>
        </div>
        <form method="POST" class="space-y-6" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% if form.errors %}
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <div class=error">
                            <p class="text-red-100">{{ error }}</p>
                        </div>
                    {% endfor %}
                {% endfor%}
            {% endif %}
            
            <div class="mt-4">
                <label class="sr-only" for="form.login.id_for_label">Email</label>
                <div class="form-field">
                    {% render_field form.login class="block text-black shadow-sm focus:ring-emerald-500 focus:border-emerald-500 text-sm" placeholder="Email" %}
                </div>
            </div>
            <div>
                <label class="sr-only" for="form.password.id_for_label">Password</label>
                <div class="form-field">
                    {% render_field form.password class="block text-black shadow-sm focus:ring-emerald-500 focus:border-emerald-500 text-sm" placeholder="Password" %}
                </div>
            </div>
            <div class="flex items-center gap-2">
                {% render_field form.remember class="focus:ring-emerald-500 h-4 w-4 text-emerald-500 border-gray-300 rounded" %}
                <label class="text-sm">{{ form.remember.label }}</label>
            </div>

            <button class="button primary flex justify-center w-full" type="submit">Sign in</button>
            
            {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" with providers=social_providers %}
            {% endif %}
        </form>
    </div>
</main>
{% endblock content %}
